<%- include("partials/header"); -%>

<div class="Post">
  <h1 id="Post-h1"><strong><%=title%></strong></h1>
  <p id="Post-p"><%=content%></p>

  <p id="credits"><strong>By</strong> 
  <%=author%></p>
  <hr>
</div>
<%- include("partials/footer"); -%>
